html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
    font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: '';
  content: none; }

q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: "lato", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

/*!
 * pagepiling.js 1.5.4
 *
 * https://github.com/alvarotrigo/pagePiling.js
 * @license MIT licensed
 *
 * Copyright (C) 2016 alvarotrigo.com - A project by Alvaro Trigo
 */
@media (min-width: 768px) {
  html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: transparent; } }

.pp-section {
  height: 100%;
  position: absolute;
  width: 100%; }

.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */ }

#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1; }

#pp-nav.right {
  right: 17px; }

#pp-nav.left {
  left: 17px; }

.pp-section.pp-table {
  display: table; }

.pp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }

.pp-slidesNav.bottom {
  bottom: 17px; }

.pp-slidesNav.top {
  top: 17px; }

#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0; }

#pp-nav li,
.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.pp-slidesNav li {
  display: inline-block; }

#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: #333; }

#pp-nav span,
.pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1; }

.pp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px; }

.pp-tooltip.right {
  right: 20px; }

.pp-tooltip.left {
  left: 20px; }

.pp-scrollable {
  overflow-y: scroll;
  height: 100%; }

.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  margin: 0 auto; }
  .bx-wrapper img {
    max-width: 100%;
    display: block; }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%; }
  .bx-wrapper .bx-pager {
    text-align: center;
    color: #666;
    padding-top: 20px; }
    .bx-wrapper .bx-pager.bx-default-pager a {
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      border-radius: 5px; }
      .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #000; }
  .bx-wrapper .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline; }
  .bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0; }
  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 64px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    overflow: hidden; }
    .bx-wrapper .bx-prev:after,
    .bx-wrapper .bx-next:after {
      content: '';
      position: absolute;
      top: 12px;
      width: 40px;
      height: 40px;
      border: 2px solid #333;
      transform: rotate(45deg); }
    .bx-wrapper .bx-prev.disabled,
    .bx-wrapper .bx-next.disabled {
      display: none; }
  .bx-wrapper .bx-prev {
    right: calc(100% + 10px); }
    .bx-wrapper .bx-prev:after {
      left: 9px;
      border-top: 0;
      border-right: 0; }
  .bx-wrapper .bx-next {
    left: calc(100% + 10px); }
    .bx-wrapper .bx-next:after {
      right: 9px;
      border-bottom: 0;
      border-left: 0; }

.bxslider {
  margin: 0;
  padding: 0;
  display: flex; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  -webkit-transform: translatez(0); }

.influencer-item {
  display: inline-flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .influencer-item .influencer-image {
      margin-top: auto; } }
  .influencer-item .influencer-description {
    margin-top: 15px; }
  .influencer-item .influencer-name-wrap {
    margin: 30px 0 15px;
    color: #898989; }
    .influencer-item .influencer-name-wrap .influencer-name {
      color: #000; }

@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 300;
  src: local("lato light"), local("latoLight"), url("../fonts/lato/lato-light.woff2") format("woff2"), url("../fonts/lato/lato-light.woff") format("woff"); }

@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 700;
  src: local("lato black"), local("latoBlack"), url("../fonts/lato/lato-black.woff2") format("woff2"), url("../fonts/lato/lato-black.woff") format("woff"); }

@font-face {
  font-family: "sedgwickave";
  font-style: normal;
  font-weight: 400;
  src: local("sedgwickave-regular"), local("SedgwickaveRegular"), url("../fonts/sedgwickave/sedgwickave-regular.woff2") format("woff2"), url("../fonts/sedgwickave/sedgwickave-regular.woff") format("woff"); }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 1.6rem;
  line-height: 1.25; }
  @media (min-width: 768px) {
    body {
      font-size: 1.6rem;
      line-height: 1.375; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "lato", "Helvetica", Arial, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 22px; }

q,
blockquote {
  font-size: 2rem;
  line-height: 1.25; }
  @media (min-width: 768px) {
    q,
    blockquote {
      font-size: 2.4rem;
      line-height: 1.45833; } }

.text.tx-12 {
  font-size: 1.2rem; }

.text.tx-14 {
  font-size: 1.4rem; }

.text.tx-16 {
  font-size: 1.6rem; }

.text.tx-18 {
  font-size: 1.8rem; }

.text.tx-24 {
  font-size: 2.4rem; }

.text.tx-light {
  font-weight: 300; }

.text.tx-semibold {
  font-weight: 600; }

.text.tx-bold {
  font-weight: 700; }

.text.tx-gray-light {
  color: #7f8fa4; }

.text.tx-gray {
  color: #354052; }

.text.tx-gray-dark {
  color: #425363; }

@media print {
  body {
    font-size: 12pt; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25; }
  h1 {
    font-size: 36pt; }
  h2 {
    font-size: 24pt; }
  h3 {
    font-size: 18pt; }
  h4 {
    font-size: 14pt; }
  h5 {
    font-size: 12pt; }
  h6 {
    font-size: 10.5pt; }
  q,
  blockquote {
    font-size: 24pt;
    line-height: 1.4583; } }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.main-nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  background-color: #000;
  font-size: 14px;
  text-transform: uppercase;
  color: #50e3c2;
  transition: background-color ease-in .5s; }
  .main-nav .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    .main-nav .nav-list:after {
      content: '';
      display: table;
      clear: both; }
    .main-nav .nav-list li {
      display: block;
      text-align: center; }
      .main-nav .nav-list li a {
        padding: 0 10px;
        display: inline-block;
        line-height: 50px; }
      .main-nav .nav-list li.active {
        background: rgba(79, 208, 181, 0.52);
        color: #000;
        font-weight: 900; }
    @media (max-width: 767px) {
      .main-nav .nav-list {
        display: none; }
        .main-nav .nav-list.open {
          display: block; } }
    @media (min-width: 768px) {
      .main-nav .nav-list {
        float: right;
        position: static;
        width: auto;
        background-color: transparent; }
        .main-nav .nav-list li {
          display: inline-block;
          float: left;
          text-align: left; }
          .main-nav .nav-list li.active {
            background-color: transparent;
            color: #f8e71c;
            font-weight: 300; }
          .main-nav .nav-list li + li {
            margin-left: 50px; } }
  .main-nav .toggler {
    float: right;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 8px;
    cursor: pointer; }
    .main-nav .toggler:focus, .main-nav .toggler:active {
      outline: none; }
    .main-nav .toggler:hover {
      outline: none;
      background-color: rgba(80, 227, 194, 0.4); }
    .main-nav .toggler span {
      display: block;
      height: 2px;
      background-color: #fff;
      margin: 4px;
      width: 20px; }
  @media (min-width: 768px) {
    .main-nav .toggler {
      display: none; } }

.pp-viewing-page2 .main-nav,
.pp-viewing-page3 .main-nav {
  background-color: rgba(0, 0, 0, 0.66); }

.header-block {
  background-color: #fff;
  overflow: hidden; }
  .header-block .video-bg {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */ }
  .header-block .header-info {
    position: relative;
    z-index: 2000;
    padding-top: 60px; }
  .header-block .scroll-btn {
    float: right;
    height: 60px;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-bottom: -30px; }
    .header-block .scroll-btn svg {
      display: inline-block;
      width: 34px;
      fill: #fff; }
  @media (max-width: 767px) {
    .header-block {
      position: relative; }
      .header-block .scroll-btn {
        display: none; } }
  @media (min-width: 768px) {
    .header-block.placeholder:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-image: url("../images/bg-image.png");
      background-position: center center;
      background-size: cover; } }

.savecreativity {
  display: inline-block;
  max-width: 411px;
  padding: 25px 35px;
  background-color: rgba(80, 227, 194, 0.8);
  border: 5px solid #000000;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out; }
  .savecreativity.show {
    transform: none;
    opacity: 1;
    visibility: visible;
    display: inline-block !important; }
  .savecreativity .creativity-title {
    font-weight: 300; }
    .savecreativity .creativity-title:before {
      content: '#'; }
  .savecreativity .creativity-description {
    font-weight: 700;
    white-space: nowrap;
    margin: 10px 0; }
  .savecreativity .creativity-btn {
    display: inline-block;
    width: 295px;
    border-radius: 8px;
    height: 80px;
    line-height: 80px;
    border: 0;
    background-color: #000000;
    color: #f8e71c;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer; }
    .savecreativity .creativity-btn:hover, .savecreativity .creativity-btn:focus, .savecreativity .creativity-btn:active {
      outline: none; }
  @media (max-width: 767px) {
    .savecreativity {
      font-size: 30px;
      padding: 25px; }
      .savecreativity .creativity-title {
        font-size: 30px; }
      .savecreativity .creativity-btn {
        width: auto;
        height: auto;
        line-height: 60px;
        font-size: 26px;
        padding: 0 20px; } }

.donate-block .mission-title {
  margin: 24px 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  line-height: 1;
  font-weight: 700; }
  @media (max-width: 767px) {
    .donate-block .mission-title {
      color: #fff; } }

.share-list:after {
  content: '';
  display: table;
  clear: both; }

.share-list .share-item + .share-item .share-link {
  margin-left: 10px; }

.share-list .share-link {
  float: left;
  width: 43px;
  height: 43px;
  line-height: 46px;
  text-align: center;
  font-size: 32px; }
  .share-list .share-link svg {
    display: inline-block;
    fill: #fff; }

.share-list .link-red {
  background-color: #ad221f;
  background-image: linear-gradient(180deg, #e03d31 0%, #ad221f 100%); }

.share-list .link-blue-light {
  background-color: #569de6;
  background-image: linear-gradient(214deg, #4cc3ff 0%, #569de6 100%); }

.share-list .link-blue {
  background-color: #2d76ad;
  background-image: linear-gradient(180deg, #15598a 0%, #2d76ad 100%); }

.gratitude-block .gratitude-title {
  color: #fff;
  font-family: "sedgwickave", cursive;
  font-weight: 400; }

.gratitude-block .gratitude-author {
  text-align: right;
  display: block;
  margin: 24px 30px 50px 0;
  color: #50e3c2;
  font-size: 24px; }

@media (max-width: 767px) {
  .gratitude-block {
    text-align: center;
    margin-bottom: 30px; }
    .gratitude-block .gratitude-author {
      display: none; } }

@media (min-width: 768px) {
  .gratitude-block {
    padding-right: 50px; }
    .gratitude-block .gratitude-title {
      font-size: 80px;
      line-height: 100px; }
      .gratitude-block .gratitude-title span {
        display: block; } }

@media (max-width: 767px) {
  .share-list {
    text-align: center; }
    .share-list li {
      display: inline-block; } }

.header-flex {
  display: flex; }
  @media (max-width: 767px) {
    .header-flex {
      flex-direction: column; }
      .header-flex .donate-block {
        order: 1;
        text-align: center; } }
  @media (min-width: 768px) {
    .header-flex {
      justify-content: space-between;
      align-items: flex-end; } }

.influencers-block {
  overflow: hidden; }
  @media (max-width: 767px) {
    .influencers-block {
      position: relative;
      padding-top: 70px;
      margin-top: -70px; } }
  @media (min-width: 768px) {
    .influencers-block {
      padding-top: 60px;
      background-color: #dfdfdf; } }
  .influencers-block .polygon-grey,
  .influencers-block .polygon-white,
  .influencers-block .polygon-yellow {
    pointer-events: none; }
  .influencers-block .polygon-grey {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%; }
    .influencers-block .polygon-grey svg {
      width: 100%;
      height: 100%;
      fill: rgba(216, 216, 216, 0.8); }
  .influencers-block .polygon-white {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%; }
    .influencers-block .polygon-white svg {
      width: 100%;
      height: 100%;
      fill: #fff; }
  .influencers-block .polygon-yellow {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%; }
    .influencers-block .polygon-yellow svg {
      width: 100%;
      height: 100%;
      fill: #f2f833; }
  .influencers-block .influencers-content {
    position: relative;
    z-index: 3; }
  .influencers-block .positioned-title {
    position: relative;
    z-index: 4;
    padding: 20px 0; }
    @media (min-width: 768px) {
      .influencers-block .positioned-title {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 0; } }

.influencers-title {
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase; }

.social-wall {
  padding-top: 50px;
  background-color: #f2f833; }
  .social-wall .wall-title {
    font-weight: 300;
    text-align: center;
    font-size: 26px;
    margin-top: 15px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .social-wall .wall-title {
        height: 50px;
        font-size: 36px; } }
    .social-wall .wall-title:before {
      content: '#'; }
  .social-wall .juicer-feed h1.referral {
    display: none; }
  .social-wall .juicer-feed {
    height: calc(100% - 50px) !important; }
    .social-wall .juicer-feed .j-stacker-wrapper {
      overflow: auto;
      margin: 0 !important;
      height: calc(100% - 83px) !important; }
  .social-wall .juicer-feed ul.j-filters {
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 0 30px 0; }
    @media (max-width: 767px) {
      .social-wall .juicer-feed ul.j-filters {
        min-height: 45px;
        height: auto; } }
    .social-wall .juicer-feed ul.j-filters li {
      order: 2;
      width: auto;
      background-color: transparent;
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      font-weight: 400;
      margin: 0 30px; }
      @media (max-width: 767px) {
        .social-wall .juicer-feed ul.j-filters li {
          margin: 0 10px; } }
      .social-wall .juicer-feed ul.j-filters li:before {
        display: none; }
      .social-wall .juicer-feed ul.j-filters li.all {
        order: 1;
        background-color: transparent; }
  .social-wall .juicer-feed.modern .j-poster {
    display: none; }

.information-block {
  background: #000; }
  .information-block .polygon-white {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%; }
    .information-block .polygon-white svg {
      width: 100%;
      height: 100%;
      fill: #fff; }
  .information-block .polygon-yellow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 100%; }
    .information-block .polygon-yellow svg {
      width: 100%;
      height: 100%;
      fill: rgba(248, 231, 28, 0.8); }
  .information-block .pp-tableCell {
    display: flex;
    flex-direction: column; }
  @media (max-width: 767px) {
    .information-block {
      position: relative; } }

.info-content {
  max-width: 450px; }
  @media (max-width: 768px) {
    .info-content {
      padding: 0 20px; } }

.info-wrap,
.main-footer {
  position: relative;
  z-index: 3; }

.info-wrap {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000; }
  .info-wrap .info-image-wrap img {
    width: auto;
    min-width: 100px;
    max-width: 100%;
    height: auto;
    min-height: 100%; }
  @media (min-width: 768px) {
    .info-wrap .info-image-wrap {
      margin-top: 50px;
      width: 50%;
      align-self: flex-end; } }
  .info-wrap .info-title {
    margin: 20px 0;
    font-size: 28px; }
    @media (min-width: 768px) {
      .info-wrap .info-title {
        font-size: 48px; } }
  .info-wrap .info-image {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 50%; }
  .info-wrap .info-description {
    margin: 20px 0;
    font-size: 18px; }
  @media (max-width: 767px) {
    .info-wrap {
      flex-direction: column; }
      .info-wrap .info-image-wrap {
        order: 1; } }

.main-footer {
  display: flex;
  justify-content: center;
  background-color: #50e3c2;
  padding: 20px 0; }
  @media (max-width: 767px) {
    .main-footer {
      position: relative;
      flex-direction: column;
      align-items: center; }
      .main-footer .footer-logo {
        order: 1; } }
  @media (min-width: 768px) {
    .main-footer {
      position: relative;
      padding: 50px 0; }
      .main-footer .footer-logo {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 24px; } }
  .main-footer .footer-item {
    flex-shrink: 0;
    margin: 20px auto;
    padding: 0 50px; }
    @media (min-width: 768px) {
      .main-footer .footer-item {
        padding: 0;
        margin: 0 50px;
        width: 257px; } }

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5); }
  .form-wrapper form {
    display: flex;
    margin: auto;
    padding: 20px 100px;
    background-color: #50e3c2; }
  .form-wrapper .form-block {
    margin: 20px; }
  .form-wrapper .form-title {
    font-size: 36px;
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
