.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  background-color: rgba(0,0,0, .5);

  form {
    display: flex;
    margin: auto;
    padding: 20px 100px;
    background-color: #50e3c2;
  }

  .form-block {
    margin: 20px;
  }

  .form-title {
    font-size: 36px;
    text-transform: uppercase;
  }
}
