.main-nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  background-color: #000;
  font-size: 14px;
  text-transform: uppercase;
  color: #50e3c2;
  transition: background-color ease-in .5s;

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    li {
      display: block;
      text-align: center;

      a {
        padding: 0 10px;
        display: inline-block;
        line-height: 50px;
      }
      &.active {
        background: rgba(79, 208, 181, 0.52);
        color: #000;
        font-weight: 900;
      }
    }

    @media (max-width: 767px) {
      display: none;

      &.open {
        display: block;
      }
    }

    @media (min-width: 768px) {
      float: right;
      position: static;
      width: auto;
      background-color: transparent;

      li {
        display: inline-block;
        float: left;
        text-align: left;

        &.active {
          background-color: transparent;
          color: #f8e71c;
          font-weight: 300;
        }

        + li {
          margin-left: 50px;
        }
      }
    }
  }

  .toggler {
    float: right;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 8px;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      outline: none;
      background-color: rgba(80, 227, 194, 0.4);
    }

    span {
      display: block;
      height: 2px;
      background-color: #fff;
      margin: 4px;
      width: 20px;
    }
  }

  @media (min-width: 768px) {
    .toggler {
      display: none;
    }
  }
}

.pp-viewing-page2,
.pp-viewing-page3 {
  .main-nav {
    background-color: rgba(0, 0, 0, .66);
  }
}

.header-block {
  background-color: #fff;
  overflow: hidden;

  .video-bg {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
  }

  .header-info {
    position: relative;
    z-index: 2000;
    padding-top: 60px;
  }

  .scroll-btn {
    float: right;
    height: 60px;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-bottom: -30px;

    svg {
      display: inline-block;
      width: 34px;
      fill: #fff;
    }
  }

  @media (max-width: 767px) {
    position: relative;

    .scroll-btn {
      display: none;
    }
  }

  @media (min-width: 768px) {
    &.placeholder {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: {
          image: url('../images/bg-image.png');
          position: center center;
          size: cover;
        }
      }
    }
  }
}

.savecreativity {
  display: inline-block;
  max-width: 411px;
  padding: 25px 35px;
  background-color: rgba(80, 227, 194, 0.8);
  border: 5px solid #000000;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s ease-in-out,
  opacity 1s ease-in-out,
  visibility 1s ease-in-out;

  &.show {
    transform: none;
    opacity: 1;
    visibility: visible;
    display: inline-block !important;
  }
  
  .creativity-title {
    font-weight: 300;

    &:before {
      content: '#';
    }
  }

  .creativity-description {
    font-weight: 700;
    white-space: nowrap;
    margin: 10px 0;
  }

  .creativity-btn {
    display: inline-block;
    width: 295px;
    border-radius: 8px;
    height: 80px;
    line-height: 80px;
    border: 0;
    background-color: #000000;
    color: #f8e71c;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  @media (max-width: 767px) {
    font-size: 30px;
    padding: 25px;

    .creativity-title {
      font-size: 30px;
    }

    .creativity-btn {
      width: auto;
      height: auto;
      line-height: 60px;
      font-size: 26px;
      padding: 0 20px;
    }
  }
}

.donate-block {

  .mission-title {
    margin: 24px 0 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    font-weight: 700;

    @media (max-width: 767px) {
      color: #fff;
    }
  }
}

.share-list {
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .share-item + .share-item {
    .share-link {
      margin-left: 10px;
    }
  }

  .share-link {
    float: left;
    width: 43px;
    height: 43px;
    line-height: 46px;
    text-align: center;
    font-size: 32px;

    svg {
      display: inline-block;
      fill: #fff;
    }
  }

  .link-red {
    background-color: #ad221f;
    background-image: linear-gradient(180deg, #e03d31 0%, #ad221f 100%);
  }

  .link-blue-light {
    background-color: #569de6;
    background-image: linear-gradient(214deg, #4cc3ff 0%, #569de6 100%);
  }

  .link-blue {
    background-color: #2d76ad;
    background-image: linear-gradient(180deg, #15598a 0%, #2d76ad 100%);
  }
}

.gratitude-block {

  .gratitude-title {
    color: #fff;
    font-family: $extra-font;
    font-weight: 400;
  }

  .gratitude-author {
    text-align: right;
    display: block;
    margin: 24px 30px 50px 0;
    color: #50e3c2;
    font-size: 24px;
  }

  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 30px;

    .gratitude-author {
      display: none;
    }
  }

  @media (min-width: 768px) {
    padding-right: 50px;

    .gratitude-title {
      font-size: 80px;
      line-height: 100px;

      span {
        display: block;
      }
    }
  }
}

.share-list {
  @media (max-width: 767px) {
    text-align: center;

    li {
      display: inline-block;
    }
  }
}

.header-flex {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;

    .donate-block {
      order: 1;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: flex-end;
  }
}